.example-container {
  width: 100%;
  height:100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

#sidenav.menu-close{
  width: 70px;
}
#sidenav.menu-open{
  width:180px;
}