
<!-- <app-navbar (togglesidbar)="linkToggler($event)"></app-navbar>   -->
<mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav id="sidenav" style="background:rgb(41 130 121);"
       [(opened)]="opened" mode ="side">
      
       <mat-list *ngFor="let item of selectedSideNav">
        <mat-list-item  > 
          <a mat-button routerLink="/{{item.router}}" > {{item.name }} </a>
        </mat-list-item>
       
       </mat-list>
      <!-- <mat-list *ngFor="let item of tabsAndSideNavs">
        <mat-list-item  > 
          <a mat-button routerLink="/{{item.router}}"  > {{tabsAndSideNavs.sideNavList }} </a>
        </mat-list-item>
       
       </mat-list> -->
       
    </mat-sidenav>

    
    <mat-sidenav-content>
      <app-navbar (sidebarelements)="sidebarelements($event)" (togglesidbar)="linkToggler($event)" ></app-navbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>