<!-- <app-button [textColor]="'black'"  
  [rounded]="false" (newItemEvent)="addItem($event)">
</app-button>
{{childdata}} -->
<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<!-- <router-outlet></router-outlet>   -->

<app-sidenav></app-sidenav>