
<div style="background:#fffcfc">
<div >
    <button  [ngStyle]="buttonStyles4" (click)="addNewItem()"
     >User</button>
     <button  [ngStyle]="buttonStyles4" (click)="addNewItem()"
     >User</button>
     <button  [ngStyle]="buttonStyles4" (click)="addNewItem()"
     >User</button>
     <button  [ngStyle]="buttonStyles4" (click)="addNewItem()"
     >User</button>
    </div>

<div>
<button  [ngStyle]="buttonStyles" (click)="addNewItem()"
 >User</button>
 <button  [ngStyle]="buttonStyles1" (click)="addNewItem()"
 >User</button>
 <button  [ngStyle]="buttonStyles2" (click)="addNewItem()"
 >User</button>
 <button  [ngStyle]="buttonStyles3" (click)="addNewItem()"
 >User</button>
</div>
<div>
    <button  [ngStyle]="buttonStyles5" (click)="addNewItem()"
     >User</button>
     <button  [ngStyle]="buttonStyles1" (click)="addNewItem()"
     >User</button>
     <button  [ngStyle]="buttonStyles2" (click)="addNewItem()"
     >User</button>
     <button  [ngStyle]="buttonStyles3" (click)="addNewItem()"
     >User</button>
    </div>

<div>



    