<div class="content">
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <mat-card-content>
<form class="example-form"  [formGroup]="loginForm" (submit)="submit()">

    <mat-form-field class="example-full-width">
      <mat-label>Username*</mat-label>
      <input matInput  type="text"  formControlName="email" required>
      <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
        <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory.</span>
     
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>password**</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
        <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>

  </form>
  <button mat-flat-button color="primary">Login</button>
</mat-card-content>
</mat-card>
</div>