.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-card {
    max-width: 400px;
  }
  .content {
    display: grid;
   
    height: 50vh;
    place-items: center;
  }
  