<mat-toolbar color="primary" class="navbar">
    <button mat-button  (click)="Togglecheck();"> 
      <mat-icon>reorder</mat-icon>
    </button>
    <div >
    <a mat-button (click)="Bottonselected('home')">Home</a>
    <a mat-button (click)="Bottonselected('contact')">Contact</a>
    <a mat-button (click)="Bottonselected('abotus')">Aboutus </a>
    <a mat-button  (click)="Bottonselected('signin')">Aboutus </a>
  </div>
</mat-toolbar>